@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-clipping {
    position: relative;
    overflow: hidden;
}

.header-clipping .container {
    @apply pt-10;
    position: relative;
    z-index: 3;
}

.header-clipping .container .tombol-header {
    background-color: #4D55BC;
}

.header-clipping .container .tombol-header:hover {
    background-color: #6b74e7;
}

.button-form {
    background-color: #FE721C;
}

.button-form:hover {
    background-color: #eb8b50;
}

.header-clipping .sunshine {
    position: absolute;
    top: 0;
    background: transparent linear-gradient(146.62deg, #3D47BD 17.72%, #2E37A4 56.8%);
    opacity: 0.8;
    height: 90%;
    clip-path: polygon(46% 0%, 82% 0%, 67% 100%, 0% 100%);
    width: 515px;
    left: 50%;
    transform: translateX(-50%);
}

.header-clipping:before {
    content: "";
    position: absolute;
    background-color: #2E37A4;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    overflow: hidden;
}

.item figure.item-image {
    perspective: 10000px;
}

.item figure.item-image:before {
    @apply inset-0;
    position: absolute;
    opacity: 0;
    content: '';
    background-color: #2E37A4;
}

.item:hover figure.item-image:before {
    @apply opacity-75;
}

.item figure.item-image .btn-play {
    content: '';
    position: absolute;
    z-index: 10;
    left: 40%;
    transform: translateX(-60%);
    top: 40%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotateX(-45deg);

}

.item:hover figure.item-image .btn-play {
    @apply opacity-100;
    transform: rotateX(0deg);
}

.link-wrapped {
    @apply inset-0;
    content: "";
    position: absolute;
    cursor: pointer;
    z-index: 8;
}

.card .card-category:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.footer-link {
    color: #53589D
}

.video-wrapper {
    @apply inset-0;
    @apply z-0;
    position: absolute;
    padding-bottom: 56.25%;
    height: 0;
}

.video-wrapper iframe {
    @apply absolute; 
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
}

.meta-price-enter {
    opacity: 0;
    bottom: -100%;
}

.meta-price-enter-active {
    opacity: 1;
    bottom: 0;
}

.meta-price-exit {
    opacity: 1;
    bottom: 0;
}

.meta-price-exit-active {
    opacity: 0;
    bottom: -100%;
}

.meta-price-enter-done {
    @apply opacity-100;
    @apply fixed;
    @apply bottom-0;
}

.item .image-course:before {
    content: '';
    position: absolute;
    @apply inset-0;
    background-color: #2E37A4;
    opacity: 0;
    padding-right: 16px;
    padding-left: 16px;
}

.item:hover .image-course:before {
    content: '';
    opacity: 0.75;
}

.image-course .btn-eye {
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
}

.image-course:hover .btn-eye {
    opacity: 1;
}



